.projects {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 370px;
  position: relative;
  @media screen and (min-width: 768px) {
    height: 460px;
  }
}

.card {
  padding: 4px 6px;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
  border: 2px solid var(--second-hover);
  border-radius: 8px;
  background: linear-gradient(to right, #7777afcc, #206bce8e);
  @media screen and (min-width: 768px) {
    height: 350px;
  }
  @media screen and (min-width: 1440px) {
    height: 400px;
  }
  & img {
    width: 100%;
    height: 100%;
  }
}
.card_title {
  text-transform: uppercase;
  font-size: 10px;
  color: var(--white);
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.links_wrap {
  display: flex;
  justify-content: space-around;
  margin-bottom: 16px;
}
.links_wrap a {
  font-size: 10px;
  color: var(--white);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 46px;
  height: 20px;
  background: var(--main-color);
  border-radius: 15px;
  overflow: hidden;

  transition: all 0.5s ease;
  @media screen and (min-width: 768px) {
    width: 60px;
    font-size: 14px;
  }
  @media screen and (min-width: 1440px) {
    width: 80px;
    height: 30px;
    font-size: 16px;
  }

  &:hover,
  &:focus {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--shadow);
  }

  &::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
      0deg,
      transparent,
      transparent 30%,
      var(--shadow)
    );
    transform: rotate(-45deg);
    transition: all 0.5s ease;
    opacity: 0;
  }
  &:hover::before,
  &:focus::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(100%);
  }
}
.links_wrap a img {
  width: fit-content;
  filter: invert(100%) brightness(1000%);
}
:global(.swiper-pagination.swiper-pagination-horizontal) {
  bottom: 0px;
}
:global(.swiper-pagination > .swiper-pagination-bullet) {
  border: 3px solid var(--main-hover);
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: transparent;
  opacity: inherit;
  transition: all var(--transition);
  @media screen and (min-width: 1440px) {
    width: 16px;
    height: 16px;
  }

  &:global(.swiper-pagination-bullet-active) {
    background-color: var(--grey);
    border: none;
    width: 16px;
    @media screen and (min-width: 1440px) {
      width: 36px;
    }
  }
}
.description {
  font-size: 8px;
  line-height: 1rem;
  & span {
    color: var(--white);
  }
  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}
.stacks {
  font-size: 8px;
  line-height: 1rem;
  color: var(--main-color);
  & span {
    color: var(--white);
  }
  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}
:global(.btn_prev),
:global(.btn_next) {
  width: 30px;
  height: 30px;
  border: 1px solid var(--grey);
  background: var(--main-color);
  border-radius: 8px;
  cursor: pointer;
  position: absolute;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--grey);
  overflow: hidden;
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    width: 40px;
    height: 40px;
  }
  &:hover,
  &:focus {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--shadow);
  }
  &:hover::before,
  &:focus::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(100%);
  }
}
:global(.btn_prev)::before,
:global(.btn_next)::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 30%,
    var(--shadow)
  );
  transform: rotate(5deg);
  transition: all 0.5s ease;
  opacity: 0;
}

:global(.btn_prev) {
  left: 20%;
  @media screen and (min-width: 768px) {
    left: 30%;
  }
}
:global(.btn_next) {
  right: 20%;
  @media screen and (min-width: 768px) {
    right: 30%;
  }
}
