.skills {
  width: 95%;
  margin: 0 auto 10px;
  border: 2px solid var(--second-hover);
  padding: 10px 30px 20px;
  background: linear-gradient(to bottom, #7777afcc, var(--second-hover));
  color: var(--grey);
}
.skill {
  text-transform: capitalize;
}
