.description {
  color: var(--grey);
  font-size: 14px;
  line-height: 1.2rem;
  text-indent: 1rem;
  text-align: justify;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.3rem;
  }
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.5rem;
  }
}
.photo {
  border: 2px solid var(--shadow);
  border-radius: 8px;
  float: right;
  margin-left: 10px;
  background: linear-gradient(to bottom, var(--main-color), var(--main-hover));
  box-shadow: 8px 11px 26px -9px rgba(0, 0, 0, 0.5);
  @media screen and (min-width: 768px) {
    width: 200px;
  }
  @media screen and (min-width: 1440px) {
    width: 250px;
  }
}
