@import 'modern-normalize';
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Big Shoulders Stencil';
  src: url('./fonts/BigShouldersStencil-VariableFont_opsz,wght.ttf');
  font-optical-sizing: auto;
  font-weight: 600;
}
@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald-VariableFont_wght.ttf');
  font-optical-sizing: auto;
  font-weight: 500;
}

:root {
  --font-accent: 'Big Shoulders Stencil', 'Oswald', sans-serif;

  --main-color: #2f2f2f;
  --main-hover: #323f47;
  --second-color: #21059b;
  --second-hover: #206bce8e;
  --accent-color: rgba(219, 113, 14, 0.87);
  --grey: #f0eff4;
  --white: #ffffff;
  --error: #ef5050;
  --shadow: rgba(197, 233, 233, 0.3);
  --transition: 250ms linear;
  --transplanted-bg: linear-gradient(
    to bottom,
    rgba(47, 47, 47, 0.7),
    rgba(50, 63, 71, 0.7)
  );
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-accent);
  color: var(--main-color);
  font-weight: 400;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
section {
  margin-top: 10px;
  @media (min-width: 768px) {
    margin-top: 20px;
  }
  @media (min-width: 1400px) {
    margin-top: 40px;
  }
}
