.container {
  min-width: 320px;
  max-width: 375px;
  padding: 16px;
  margin: 0 auto;
  /* border: 1px solid red; */
}
@media (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    max-width: 768px;
    padding: 16px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
